*{
    font-family: Helvetica;
}

.review{
    color: green;
}

.cancel{
    color: red;
}

.navbar {
    border-radius: 5px;
    background-image: linear-gradient(to bottom,  #343a40, #35474e, #343a40, #292e34);
  }

table{
    margin-top: 20px;
    border-radius: 5px;
}

th{
    background-image: linear-gradient(to bottom,  #343a40, #35474e, #343a40, #292e34);
    color: white;
}


a{
    text-decoration: none;
}

a.review:hover,
a.cancel:hover {
  color: blueviolet;
}

.disabled-link {
    pointer-events: none;
    color: #ccc;
    text-decoration: none;
    cursor: not-allowed;
  }
  
