<div class="card">
    <div class="row justify-content-center">
        <h2 class="text-center">Registrtion</h2>
        <div class="col-lg-8">
            <form (ngSubmit)="register()">
                <table class="table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <td>
                            <input type="text" id="name" name="name" [(ngModel)]="name" required class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">Email</label>
                        </td>
                        <td>
                            <input type="text" id="username" name="username" [(ngModel)]="email" required class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password</label>
                        </td>
                        <td>
                            <input type="password" id="password" name="password" [(ngModel)]="password" required class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-outline-dark">Register</button>
                        </td>
                    </tr>
                </table>                
            </form>
        </div>
    </div>
</div>