<div class="card">
    <div class="card-body">
      <h2 class="card-title text-center">Create Account</h2>
    
      <form (ngSubmit)="register()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" [(ngModel)]="user.name" required class="form-control">
        </div>
    
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" [(ngModel)]="user.email" required class="form-control">
        </div>
    
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" [(ngModel)]="user.password" required class="form-control">
        </div>

        <br>

        <button type="submit" class="btn btn-primary">Register</button>

        <br>
      </form>
    
      <div class="text-center">
        <a [routerLink]="['/login']">Already have an account?</a>
      </div>
    </div>
  </div>
  