<div class="card">
    <div class="row justify-content-center">
        <h2 class="text-center">Login</h2>
        <div class="col-lg-8">
            <form (ngSubmit)="login()">
                <table class="table">
                    <tr>
                        <td>
                            <label for="email">Email</label>
                        </td>
                        <td>
                            <input type="text" id="email" name="email" [(ngModel)]="email" required class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password</label>
                        </td>
                        <td>
                            <input type="password" id="password" name="password" [(ngModel)]="password" required class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-outline-dark">Login</button>
                        </td>
                    </tr>
                </table>                
            </form>
        </div>
    </div>
</div>