<div class="card mx-auto">
  <div class="card-body">
    <h2 class="card-title text-center">Login</h2>
  
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required class="form-control">
      </div>
  
      <br>

      <button type="submit" class="btn btn-primary">Login</button>
  
      <br>

    </form>
    
    <div class="text-center">
      <a [routerLink]="['/register']">Create Account</a>
    </div>
  </div>
</div>
