<div>
    
    <img src="assets/favicon_io/android-chrome-192x192.png" alt="Logo">
    <!-- <div style="position: absolute; top: 0; left: 0;">
        <img src="assets/logo.png" alt="Logo" style="max-height: 150px;"> </div> -->


    <!-- <div style="position: absolute; top: 0; left: 0;">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon_io/site.webmanifest">
      </div> 
  </div> -->
  <div class="jumbotron text-center">
    <p class="lead" style="font-weight: 350;">Online Bus Booking Service</p>
  </div>
  <router-outlet></router-outlet>
  