<div class="card mx-auto">
  <div class="card-title-container">
    <h2 class="card-title text-center">Payment</h2>
  </div>
  <div class="card-body">
  
    <form (ngSubmit)="payment()">
      <div class="form-group">
        <label for="bookingID">Booking ID</label>
        <input type="number" name="bookingID" value="{{this.bookingID}}" required class="form-control" disabled>
      </div>
  
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" name="amount" value="{{this.amount}}" required class="form-control" disabled>
      </div>
  
      <br>  
          <button type="submit" class="btn btn-dark">Continue</button>
      <br>

    </form>
  </div>
</div>
